<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/pico.min.css" rel="stylesheet">
    <title>Error - Scrum Poker</title>
</head>
<body>
    <!-- <img src="/public/jobber-icon.svg" alt="Jobber" style="position: fixed; top: 20px; left: 20px; height: 40px; z-index: 1000;"> -->
    <main class="container">
        <article>
            <header>
                <h1>Error</h1>
            </header>
            <p>{{message}}</p>
            <a href="/" role="button">Go to Homepage</a>
        </article>
    </main>
</body>
</html>
